# Database (Prisma)
DATABASE_URL=postgresql://postgres:Mikias$Ki0915@db.mckqexvurdicfmtrjkcc.supabase.co:6543/postgres?pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://postgres:Mikias$Ki0915@db.mckqexvurdicfmtrjkcc.supabase.co:5432/postgres?sslmode=require

# NextAuth
NEXTAUTH_SECRET=EkThHiwXqj/8rkzHMWBv8cT03ZTh1k4mM8W36Ch0S8A=
NEXTAUTH_URL=http://localhost:3000   # Change to production URL on Vercel

# Supabase Client (if needed)
NEXT_PUBLIC_SUPABASE_URL=https://mckqexvurdicfmtrjkcc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ja3FleHZ1cmRpY2ZtdHJqa2NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NTgxNTUsImV4cCI6MjA4ODMzNDE1NX0.cpR-YXq9Oho40JASrTXzJB3e6lLRZqyvk50MlVsgE3g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ja3FleHZ1cmRpY2ZtdHJqa2NjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjc1ODE1NSwiZXhwIjoyMDg4MzM0MTU1fQ.r1bype8w1lJ3b5pB7JTL4oyNJdpHgcBGDijuUiaNxMA